[Desktop Entry]
Type=Application
Name=Core Download Manager
Comment=Download manager
Exec=cdm gui
Terminal=false
Categories=Network;Utility;
StartupNotify=true
